
<div class="chat-container">


<div class="chat-header">
  <div class="back-button">
    <%= link_to line_page_top_path do %>
      <span class="back-icon">&larr;</span> 戻る
    <% end %>
  </div>
  <div class="header-title">
  横山圭介
  </div>
</div>

<div class="chat-body">


<div class="message-container friend">
<img src="/assets/keisuke.png" alt="Facebook" width="40">
<div class="message-content">
    <div class="username">横山圭介</div>
    <div class="message friend">昨日、拾ったスマホだけど、壊れているから、スマホの機能はまったく使えないね</div>
</div>
</div>

<div class="message-container friend">
<img src="/assets/keisuke.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">横山圭介</div>
    <div class="message friend">なんとか写真とか、メールの履歴は復元できそうだから、やってみるわ</div>
</div>
</div>

<div class="message-container friend">
<img src="/assets/keisuke.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">横山圭介</div>
    <div class="message friend">スマホの持ち主を見つけても壊れているから、返しても意味は…無いと思うけど、隼人は諦めるかな？</div>
</div>
</div>

<div class="message-container friend">
<img src="/assets/keisuke.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">横山圭介</div>
    <div class="message friend">申し訳ないけど、復元で忙しいから隼人から連絡来たら、この事を教えてあげてくれる？</div>
</div>
</div>

<% if current_user.keisuke.chat_1.present? %>
  <div class="message-container user">
    <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/LINE_logo.svg" alt="LINE" width="40">
    <div class="message-content">
      <div class="username"><%= current_user.name %></div>
      <div class="message user"><%= current_user.keisuke.chat_1 %></div>
    </div>
  </div>
<% end %>
</div>
<div class="chat-footer">
  <%= form_with url: line_page_keisuke_path, method: :post, local: true, html: { class: "chat-form" } do %>
    <%= text_field_tag :chat_1, nil, placeholder: "メッセージを入力...", class: "chat-input" %>
    <%= submit_tag "▶", class: "chat-button" %>
  <% end %>
</div>
</div>