


<div class="chat-container">


<div class="chat-header">
  <div class="back-button">
    <%= link_to line_page_top_path do %>
      <span class="back-icon">&larr;</span> 戻る
    <% end %>
  </div>
  <div class="header-title">
    グループライン（3）
  </div>
</div>


<div class="chat-body">

<div class="message-container friend">
<img src="/assets/hayato.png" alt="Facebook" width="40">
<div class="message-content">
    <div class="username">室谷隼人</div>
    <div class="message friend">グループチャット作った！</br>
                                圭介は復元できたデータは</br>
                                ここで共有してくれ！</div>
</div>
</div>

<div class="message-container friend">
<img src="/assets/keisuke.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">横山圭介</div>
    <div class="message friend">おけ</div>
    <div class="message friend">とりあえず、トーク履歴が何とか</br>
                                一部復元できたから、共有するわ</div>
</div>
</div>

<div class="message-container friend">
<img src="/assets/keisuke.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">横山圭介</div>
    <div class="message friend"><%= link_to 'トーク履歴-1', broken_smartphone_talk_history_1_path %></div>
</div>
</div>

<div class="message-container friend">
<img src="/assets/hayato.png" alt="Facebook" width="40">
<div class="message-content">
    <div class="username">室谷隼人</div>
    <div class="message friend">おお！さんきゅ！</br>
                                破損が激しいな…</br>
                                これは持ち主の奥さん？</br>
                                とのトーク履歴？</div>
</div>
</div>


<div class="message-container friend">
<img src="/assets/keisuke.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">横山圭介</div>
    <div class="message friend">トーク相手の名前が分かれば</br>
                                その人の旦那がスマホの持ち主だから</br>
                                この奥さんの名前知りたいな</div>
</div>
</div>

<div class="message-container friend">
<img src="/assets/hayato.png" alt="Facebook" width="40">
<div class="message-content">
    <div class="username">室谷隼人</div>
    <div class="message friend">たしかに！</br>
                                俺も調べてみるし</br>
                                <%= current_user.name %>も検索しみて</br>
                                奥さんの名前分かったら</br>ここに連絡して！</div>
</div>
</div>

<% if current_user.line_group.chat_1.present? %>
<div class="message-container user">
<img src="https://upload.wikimedia.org/wikipedia/commons/4/41/LINE_logo.svg" alt="LINE" width="40">
<div class="message-content">
    <div class="username">自分</div>
    <div class="message user"><%= current_user.line_group.chat_1 %></div>
</div>
</div>
<% end %>


<% if current_user.progress_level >= 3 %>
<div class="message-container friend">
<img src="/assets/hayato.png" alt="Facebook" width="40">
<div class="message-content">
    <div class="username">室谷隼人</div>
    <div class="message friend">米松茉莉！？</br>
                                片町の有名人やん！</br>
                                噂だと経営者が旦那って聞いたけど</br>
                                どこの経営者なんやろ？</div>                            
</div>
</div>

<% end %>


<% if current_user.line_group.chat_2.present? %>
<div class="message-container user">
<img src="https://upload.wikimedia.org/wikipedia/commons/4/41/LINE_logo.svg" alt="LINE" width="40">
<div class="message-content">
    <div class="username">自分</div>
    <div class="message user"><%= current_user.line_group.chat_2 %></div>
</div>
</div>
<% end %>

<% if current_user.progress_level >= 4 %>

<div class="message-container friend">
<img src="/assets/hayato.png" alt="Facebook" width="40">
<div class="message-content">
    <div class="username">室谷隼人</div>
    <div class="message friend">キャンペルって高級キャバクラやん</br>
                                怖い黒服いるから行きたくない人も</br>
                                多いお店だって聞いたことがある</div>                            
</div>
</div>

<div class="message-container friend">
<img src="/assets/keisuke.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">横山圭介</div>
    <div class="message friend">持ち主の奥さんの米松茉莉も昔は</br>
                                キャンペルの所属で急に辞めたらしい</br></div>
</div>
</div>

<div class="message-container friend">
<img src="/assets/hayato.png" alt="Facebook" width="40">
<div class="message-content">
    <div class="username">室谷隼人</div>
    <div class="message friend">まあ、これで持ち主の名前も</br>
                                その奥さんの名前や、お店の名前が</br>
                                分かったから、持ち主がいそうな場所調べようぜ</div>                            
</div>
</div>

<div class="message-container friend">
<img src="/assets/keisuke.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">横山圭介</div>
    <div class="message friend">いそうな場所って、この持ち主が</br>
                                経営してるキャバクラって事？</br></div>
</div>
</div>

<div class="message-container friend">
<img src="/assets/hayato.png" alt="Facebook" width="40">
<div class="message-content">
    <div class="username">室谷隼人</div>
    <div class="message friend">いや！俺、実は持ち主見た事あって…</br>
                                ある居酒屋で見たような気がしてて</br>
                                名前忘れたけど…</br>
                                多分、居酒屋も経営してると思う</div>                            
</div>
</div>

<div class="message-container friend">
<img src="/assets/keisuke.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">横山圭介</div>
    <div class="message friend">なるほどね</br>
                                お前が飲みに行く居酒屋って</br>
                                「京浜居酒屋」か「銀蔵酒造」か</br>
                                「魚盛の酒場」</br>
                                ぐらいしかなくない？</br>
                                （お前が飲み過ぎて覚えてないかも）</div>
</div>
</div>

<div class="message-container friend">
<img src="/assets/hayato.png" alt="Facebook" width="40">
<div class="message-content">
    <div class="username">室谷隼人</div>
    <div class="message friend">なんで、そこまで把握しとん（笑）</br>
                                俺は行った店なんで覚えてないのに</br>
                                （その店の記憶は無いけど…）</br>でもせんきゅ！</br>
                                それぞれ調べてみようぜ</div>                            
</div>
</div>

<% end %>
</div>






</div>



<style>
body {
background-color: #d3e8d3;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
font-family: Arial, sans-serif;
}
.chat-container {
width: 480px;
height: 600px;
background: #fff;
border-radius: 15px;
overflow: hidden;
display: flex;
flex-direction: column;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px 0;
  background-color: #06C755;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.chat-header .back-button {
  position: absolute;
  left: 10px;
}

.chat-header .back-button a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.chat-header .back-icon {
  margin-right: 5px;
}

.chat-header .header-title {
  text-align: center;
}
.chat-body {
flex: 1;
padding: 15px;
overflow-y: auto;
display: flex;
flex-direction: column;
}
.message-container {
display: flex;
align-items: flex-start;
margin-bottom: 10px;
}
.message-container.user {
flex-direction: row-reverse;
}
.message-container img {
width: 40px;
height: 40px;
border-radius: 50%;
margin: 0 10px;
}
.message-content {
max-width: 70%;
}
.username {
font-size: 12px;
color: #888;
margin-bottom: 2px;
}
.message {
padding: 10px;
border-radius: 10px;
}
.message.user {
background: #06C755;
color: white;
border-bottom-right-radius: 0;
}
.message.friend {
background: #f1f1f1;
color: black;
border-bottom-left-radius: 0;
}
.chat-footer {
  display: flex;
  padding: 10px;
  background: #f1f1f1;
}

.chat-form {
  /* フォーム全体を flex 要素として扱ってもOK */
  display: flex;
  width: 100%;
}

.chat-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
}

.chat-button {
  background: #06C755;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-left: 5px;
  border-radius: 50%;
  cursor: pointer;
}
</style>