

<div class="chat-container">


<div class="chat-header">
  <div class="back-button">
    <%= link_to line_page_top_path do %>
      <span class="back-icon">&larr;</span> 戻る
    <% end %>
  </div>
  <div class="header-title">
  室谷隼人
  </div>
</div>

<div class="chat-body">

<div class="message-container friend">
<img src="/assets/hayato.png" alt="Facebook" width="40">
<div class="message-content">
    <div class="username">室谷隼人</div>
    <div class="message friend">こんにちは！</div>
</div>
</div>

<div class="message-container friend">
<img src="/assets/hayato.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">室谷隼人</div>
    <div class="message friend">元気だよ！最近どう？</div>
</div>
</div>

<% if current_user.hayato.chat_1.present? %>
<div class="message-container user">
<img src="https://upload.wikimedia.org/wikipedia/commons/4/41/LINE_logo.svg" alt="LINE" width="40">
<div class="message-content">
    <div class="username">自分</div>
    <div class="message user"><%= current_user.hayato.chat_1 %></div>
</div>
</div>
<% end %>

</div>

<div class="chat-footer">
  <%= form_with url: line_page_hayato_path, method: :post, local: true, html: { class: "chat-form" } do %>
    <%= text_field_tag :chat_1, nil, placeholder: "メッセージを入力...", class: "chat-input" %>
    <%= submit_tag "▶", class: "chat-button" %>
  <% end %>
</div>
</div>