

<div class="chat-container">


<div class="chat-header">
  <div class="back-button">
    <%= link_to line_page_top_path do %>
      <span class="back-icon">&larr;</span> 戻る
    <% end %>
  </div>
  <div class="header-title">
  室谷隼人
  </div>
</div>

<div class="chat-body">

<div class="message-container friend">
<img src="/assets/hayato.png" alt="Facebook" width="40">
<div class="message-content">
    <div class="username">室谷隼人</div>
    <div class="message friend">スマホの事で、圭介から連絡あった？</div>
</div>
</div>

<div class="message-container friend">
<img src="/assets/hayato.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">室谷隼人</div>
    <div class="message friend">壊れてる雰囲気はあったし、期待はしてないけど、何か復元できそうなデータはあった？</div>
</div>
</div>

<div class="message-container friend">
<img src="/assets/hayato.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">室谷隼人</div>
    <div class="message friend">もし、あるなら、具体的に何が復元できそうか教えてほしい！</div>
</div>
</div>

<% if current_user.hayato.chat_1.present? %>
<div class="message-container user">
<img src="https://upload.wikimedia.org/wikipedia/commons/4/41/LINE_logo.svg" alt="LINE" width="40">
<div class="message-content">
    <div class="username">自分</div>
    <div class="message user"><%= current_user.hayato.chat_1 %></div>
</div>
</div>
<% end %>
<% if current_user.progress_level >= 2 %>
<div class="message-container friend">
<img src="/assets/hayato.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">室谷隼人</div>
    <div class="message friend">ありがとう！メールとか写真が分かるなら、俺たちで調べれば持ち主さがせるな！（笑）本当は、俺…あのスマホどこかで見たことある気がしてて</div>
</div>
</div>



<div class="message-container friend">
<img src="/assets/hayato.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">室谷隼人</div>
    <div class="message friend">ほら！俺って、いつも片町の居酒屋でバイトしてて、遊びまくってるやん？どこかは忘れたけど、持ち主とあった事ある気がしてて…</div>
</div>
</div>

<div class="message-container friend">
<img src="/assets/hayato.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">室谷隼人</div>
    <div class="message friend">無理だったら諦めて交番持っていくけど、交番に持って行っても、交番の人は持ち主を積極的に探しには行かないやん？</div>
</div>
</div>

<div class="message-container friend">
<img src="/assets/hayato.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">室谷隼人</div>
    <div class="message friend">だったら俺たちで持ち主を探したいって思ったから協力してくれるよな！</div>
    <div class="message friend">って事でグループチャットつくるわ！</div>
</div>
</div>
<% end %>
</div>

<div class="chat-footer">
  <%= form_with url: line_page_hayato_path, method: :post, local: true, html: { class: "chat-form" } do %>
    <%= text_field_tag :chat_1, nil, placeholder: "メッセージを入力...", class: "chat-input" %>
    <%= submit_tag "▶", class: "chat-button" %>
  <% end %>
</div>
</div>